<h1>{{title}}</h1>

<form action="/users/register" method="POST">
    <input type="text" name="name" placeholder="Nombre" required>
    <input type="text" name="lastname" placeholder="Apellido" required>
    <input type="email" name="email" placeholder="Correo electrónico" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <input type="number" name="age" placeholder="Edad" required>
    <button type="submit">Registrarme</button>
</form>