<h1>{{title}}</h1>

<div class="container">
  <div class="row">
    {{#each users}}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          {{!-- <img src="{{this.image}}" class="card-img-top" alt="Product Image">  --}}
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.role}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/indexUser.js"></script>